/* :root {
    --color-principal: #f7f7f7;
    --color-secundario: #1991be;
    --color-secundario2: #8fcee6;
    --color-destacado: linear-gradient(-90deg, #8fcee6, #1991be);
    --color-oscuro: #114e86;
    --color-oscuro2: #303030;
    --borde-comun: 2px solid #1991be;
    --fondo-principal: url('/img/textura.png') #e6e6e6;
    --radius-comun: 0px;
} */

a {
    /* color: #785195; */
}

a:hover {
  /* color: #8c7c98; */
  text-decoration: none;
}
