#sb-nav {
  display: flex;
  margin-top: 8px;
  max-height: 34px;
}

#sb-nav > input {
  border-radius: 20px 0px 0px 20px;
  width: 130px;
  flex-grow: 1;
}

#sb-nav > button {
border-radius: 0px 20px 20px 0px;
}

#sb-nav > select {
  border-radius: 0px;
  min-width: 80px;
  padding: 6px 0px;
}

.nb-avatar-container {
  padding:0px;
  margin: 0px;

}

.nb-avatar {
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin-top: 8px;
}

.nb-profile-icon {

}

#toggle + * {
  display: none;
}

#toggle {
    cursor: pointer;
}

.wrap > nav {
    background: #114e86;
}

.wrap > nav li.active {
  background: #21182f;
}

ul.breadcrumb {
  background: var(--color-secundario2);
}

.footer {
    background: #114e86;
    color: #f4f4f4;
}

.wrap {
  background: url('/img/textura.png') #e6e6e6;
}

#change-language > .flag-button {
  background: none;
  border: none;
  padding: 0px;
  opacity: .4;
}

#change-language > .flag-button.flag-selected {
  opacity: 1;
}

@media (min-width: 992px) {
  .num-alerts-mp, .num-alerts-notis {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 10px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 991px) {
  .num-alerts-mp, .num-alerts-notis {
    width: 20px;
    font-size: 12px;
    height: 20px;
  }
}

.num-alerts-mp, .num-alerts-notis {
  background: rgba(0,0,0,.5);
  display: inline-block;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-alert {
  background: rgba(255,0,0,.7);
  color: white;
}

.kv-md-editor textarea {
  min-height: 300px;
}
.kv-md-container {
  margin-bottom: 10px;
}
