#sb-nav {
  display: flex;
  margin-top: 8px;
  max-height: 34px;
}

#sb-nav > input {
  border-radius: 20px 0px 0px 20px;
  width: 130px;
  flex-grow: 1;
}

#sb-nav > button {
border-radius: 0px 20px 20px 0px;
}

#sb-nav > select {
  border-radius: 0px;
  min-width: 80px;
  padding: 6px 0px;
}

.nb-avatar-container {
  padding:0px;
  margin: 0px;

}

.nb-avatar {
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin-top: 8px;
}

.nb-profile-icon {

}
