.estandar-action {
  border: var(--borde-comun);
  background: var(--color-principal);
}

.estandar-action > h1, .estandar-action > h3 {
  background: var(--color-destacado);
  color: white;
  text-align: center;
  margin: 0px;
}

.estandar-action > .estandar-form {
  padding: 10px;
  max-width: 800px;
  margin: auto;
}

.estandar-action > .estandar-form label {
  background: var(--color-destacado);
  width: 100%;
  text-align: center;
  height: 24px;
  line-height: 24px;
  color: white;
  padding: 0px 20px;
  position: relative;
  text-transform: uppercase;
  font-size: 80%;
}

.estandar-action > .estandar-form label:after, .estandar-action > .estandar-form label:before {
  border: 12px solid;
  content: ' ';
  position: absolute;
  top: 0;
}
.estandar-action > .estandar-form label:after {
  border-color: transparent transparent transparent white;
  left: 0;
}

.estandar-action > .estandar-form label:before {
  border-color: transparent white transparent transparent;
  right: 0;
}
