#me-home {
border: var(--borde-comun);
border-radius: var(--radius-comun);
background: var(--color-principal);
text-align: center;
margin-bottom: 10px;
}

#me-home > .username {
    background: var(--color-destacado);
    padding: 20px;
    text-align: center;
}

#me-home > .username > h3 {
    margin: 0px;
    padding: 0px;
}

#me-home > .avatar {
    padding: 10px;
}

#me-home > .avatar > img {
    width: 150px;
    border-radius: 200px;
}

#me-home > ul.stats {
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

#me-home > ul.stats > li {
    width: 50%;
}

#random-artist {
    background: var(--color-secundario);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#lateral-footer {
    background: var(--color-principal);
    border: var(--borde-comun);
    border-radius: var(--radius-comun);
    padding: 10px;
    margin-bottom: 20px;
}

#lateral-footer > ul {
    list-style: none;
    padding: 0px;
    left: 0px;
}

.publicacion,
.personaje,
.mensajes-privados {
    margin-bottom: 20px;
    background: var(--color-principal);
    border: var(--borde-comun);
    border-radius: var(--radius-comun);
}

.publicacion > .publicacion-header,
.personaje > .personaje-header,
.mensajes-privados > .mensajes-privados-header {
    background: var(--color-destacado);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.publicacion > .publicacion-header > .user > .avatar img,
.personaje > .personaje-header > .user > .avatar img,
.mensajes-privados > .mensajes-privados-header > .user > .avatar img  {
    width: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.publicacion > .publicacion-header > small,
.personaje > .personaje-header > small,
.mensajes-privados > .mensajes-privados-header > small {
    width: 100%;
}

.publicacion > .publicacion-body,
.personaje > .personaje-body {
}

.publicacion > .publicacion-body > .contenido,
.personaje > .personaje-body > .contenido-grande,
.mensajes-privados > .mensajes-privados-body > .contenido  {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
}

.publicacion > .publicacion-footer,
.personaje > .personaje-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: var(--borde-comun);
}

.publicacion > .publicacion-body > .buttons,
.personaje > .personaje-body > .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: var(--borde-comun);
}

.publicacion > .publicacion-footer > div,
.personaje > .personaje-footer > div,
.personaje > .personaje-body > .buttons > a,
.publicacion > .publicacion-body > .buttons > a {
    padding: 10px;
}

#feed > .empty, .no-entry {
    background: var(--color-principal);
    border: var(--borde-comun);
    border-radius: var(--radius-comun);
    padding: 10px;
}

.personaje > .personaje-body > h3,
.mensajes-privados > .mensajes-privados-body > h3  {
  max-width: 800px;
  margin: 15px auto 0px auto ;
}

.relaciones-relacion {
  background: var(--color-principal);
  border: var(--borde-comun);
  display: flex;
  flex-wrap: wrap;
}

.relaciones-relacion > h3 {
 margin: 0px;
  background: var(--color-destacado);
  padding: 10px;
  width: 100%;
}

.relaciones-relacion > .relacion {
  padding: 10px;
  margin: 5px;
  background: rgba(0,0,0,.1);
  text-align: center;
  width: 200px;
}

.relaciones-relacion > .no-relacion {
    padding: 10px;
    margin: 5px;
    background: rgba(0,0,0,.1);
    text-align: center;
    width: 100%;
}

.artchive-table {
  background: var(--color-principal);
}

.artchive-table > thead {
  background: var(--color-destacado);
}

.artchive-table > thead > tr > th {
  padding: 10px;
}

.artchive-table > thead > tr > th,
.artchive-table > thead > tr > th a {
    color: #fff;
}

.artchive-table > thead > tr > th a {
    text-decoration: underline;
}

.artchive-table tr {
  border: var(--borde-comun);
  border-radius: var(--radius-comun);
}

.title-index {
  background: var(--color-destacado);
  position: relative;
  text-align: center;
  padding: 0px 20px;
  color: white;
  font-weight: bold;
  /* border-radius: 100px; */
}
