#me-home {
border: 2px solid #7967a6;
background: #fff;
text-align: center;
margin-bottom: 10px;
}

#me-home > .username {
    background: linear-gradient(-90deg, #a367a6, #7967a6);
    padding: 20px;
    text-align: center;
}

#me-home > .username > h3 {
    margin: 0px;
    padding: 0px;
}

#me-home > .avatar {
    padding: 10px;
}

#me-home > .avatar > img {
    width: 150px;
    border-radius: 200px;
}

#me-home > ul.stats {
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

#me-home > ul.stats > li {
    width: 50%;
}

#random-artist {
    background: #7967a6;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#lateral-footer {
    background: #fff;
    border: 2px solid #7967a6;
    padding: 10px;
    margin-bottom: 20px;
}

#lateral-footer > ul {
    list-style: none;
    padding: 0px;
    left: 0px;
}

.publicacion,
.personaje {
    margin-bottom: 20px;
    background: white;
    border: 2px solid #7967a6;
}

.publicacion > .publicacion-header,
.personaje > .personaje-header {
    background: linear-gradient(-90deg, #a367a6, #7967a6);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.publicacion > .publicacion-header > .user > .avatar img,
.personaje > .personaje-header > .user > .avatar img {
    width: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.publicacion > .publicacion-header > small,
.personaje > .personaje-header > small {
    width: 100%;
}

.publicacion > .publicacion-body,
.personaje > .personaje-body {
}

.publicacion > .publicacion-body > .contenido,
.personaje > .personaje-body > .contenido-grande {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
}

.publicacion > .publicacion-footer,
.personaje > .personaje-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #7967a6;
}

.publicacion > .publicacion-body > .buttons,
.personaje > .personaje-body > .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 2px solid #7967a6;
}

.publicacion > .publicacion-footer > div,
.personaje > .personaje-footer > div,
.personaje > .personaje-body > .buttons > a,
.publicacion > .publicacion-body > .buttons > a {
    padding: 10px;
}

#feed > .empty {
    background: #fff;
    border: 2px solid #7967a6;
    padding: 10px;
}


* {
  word-break: break-all;
}

.relaciones-relacion {
  background: #fff;
  border: 2px solid #7967a6;
  display: flex;
  flex-wrap: wrap;
}

.relaciones-relacion > h3 {
 margin: 0px;
  background: linear-gradient(-90deg, #a367a6, #7967a6);
  padding: 10px;
  width: 100%;
}

.relaciones-relacion > .relacion {
  padding: 10px;
  margin: 5px;
  background: rgba(0,0,0,.1);
  text-align: center;
  width: 200px;
}

.relaciones-relacion > .no-relacion {
    padding: 10px;
    margin: 5px;
    background: rgba(0,0,0,.1);
    text-align: center;
    width: 100%;
}
