#member-profile {
    overflow: hidden;
}

#member-profile > #top-bar > .nav-follow > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#member-profile > #top-bar::after {
    content: '';
    display: block;
    clear: both;
}

#member-profile > #top-bar > .avatar {
    width: 200px;
    height: 200px;
    background: #f7f7f7;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #1991be;
    float: left;
}
#member-profile > #top-bar > .avatar > img {
    max-width: 100%;
    max-height: 100%;
}

#member-profile > #top-bar > .nav-follow {
    background: linear-gradient(-90deg, #8fcee6, #1991be);
    color: white;
    padding: 5px;
    margin-left:10px;
}
#member-profile > #top-bar > .nav-follow > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#member-profile > #top-bar > .nav-follow > ul > li > h4 {
    text-align: center;
}
#member-profile > #top-bar > .nav-follow > ul > li > h4 > a {
  color: white;
}
#member-profile > #top-bar > .nav-follow > ul > li > h4 > a > small {
    display: block;
}
#member-profile > #top-bar > .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
#member-profile > #top-bar > .user > h1 {
    padding: 0px;
    margin: 0px 5px 0px 0px;
}

#member-profile > #profile-content {
    /* padding: 20px; */
}

#profile-content {
  margin-top: 10px;
}

#profile-content #profile-details {
  border: 2px solid #1991be;
  border-radius: 0px;
  background: #f7f7f7;
}

#profile-content #profile-details > h5 {
  background: linear-gradient(-90deg, #8fcee6, #1991be);
  padding: 2px;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#profile-content #profile-details > p {
  padding: 2px 5px
}

#profile-content #profile-entries {
  border: 2px solid #1991be;
  border-radius: 0px;
  background: #f7f7f7;
}

#profile-content #profile-entries > h2 {
  margin: 0px;
  padding: 3px;
  background: linear-gradient(-90deg, #8fcee6, #1991be);
  color: white;
}

#profile-content #profile-entries  > .entry > h4 {
  border-bottom: 2px dashed black;
  margin: 5px 0px 0px 0px;
  padding: 0px 2px;
}

#profile-content #profile-entries  > .entry > .content {
  padding: 10px;
}

@media (max-width: 576px) {
    #member-profile > #top-bar > .avatar {
        width: 100px;
        height: 100px;
     }
 }
